<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>MHS79XXX-XXX        </b>
                </p>
            </div>
            <div class="col">
                <p>
                    <b>Rev. BH</b>
                </p>
            </div>
            <div class="col">
                <p>
                    <b>Date: </b>
                    8/7/24, 1:17 PM 
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>HEATED HOSE, SIZE -12         </b>
                </p>
            </div>
            <div class="col">
                <p>
                    <b>NOTE: THIS HOSE USES 1200 DENIER GREEN NOMEX</b>
                </p>
            </div>
            <div class="col">
                <p>
                    <b>Lot Size - Feet       1 </b>
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>JOB CARD NUMBER: </b>5139001-01 
                </p>
            </div>
            <div class="col">
                <p>
                    <b>SHIPPER NUMBER: </b>553474-0002 
                </p>
            </div>
            <div class="col">
                <p>
                    <b>PART NUMBER: </b>79679-011            
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="row">
                    <p>
                        <b>NOTE: ATTACH SILICONE LOT NO, BATCH NO &amp; P.O. NO STICKER AT BOTTOM OF SHEET</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>Load PFA Innertube and Silicone Liner</b>
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Support Mandrel</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            TL294-12             
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Innertube</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            HS79-1-12            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Pressure (PSI) Ref</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            60  
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Liner HMS102</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            HS79-2-12            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Nozzle</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            TL572-12             
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Form Tool</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            TL584-12             
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>HS79-1-12 LOT &amp; P.O. #</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            24H0301                        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>Flat Green Nomex Braid</b>
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Flat Green Nomex</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            SD149-004            
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>No. of Ends</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>   
                            1  
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>No. of Carriers</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            12/24 NE             
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Upper Gear</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>   
                            62  
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Lower Gear</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>   
                            45  
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Tension Springs</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            RED        
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            0.010      
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Braider#</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            24    
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Setup By</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            RUBEN VAZQUEZ LOPEZ       
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            08/07/24 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Checked By</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            ALLEN MEZA                
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            08/07/24 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-start">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>SD149-004 Nomex P.O. #</b>PE3278        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>Assemble Resistance Wire</b>
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b><u>As Specified by -2 or -3 Drawing</u></b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Resistance Wire</b>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b>Resistance Ohms</b>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b>Wire Length</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            SD031-26                 
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            86   
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            851       
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Solder Lead Wires</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            SD060-9              
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            PF1371         
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Cut By</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            MARCO RODRIGUEZ           
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            08/07/24 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Soldered By</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            MARCO RODRIGUEZ           
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            08/07/24 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-start">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Resistance Wire P.O. #</b>pf2118 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row text-center">
            <div class="col">
                <p>
                    <b>Apply Heater Element</b>
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Applied By</b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            ABEL DE LA TORRE          
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p> 
                            08/07/24 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p>
                            <b><u>As Specified by -2 or -3 Drawing</u></b>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>
                            <b>Apply Silicone Cover HMS102</b>
                        </p>
                    </div>
                    <div class="col">
                        <p>
                            <b>Heated Length</b>
                        </p>
                    </div>
                </div>
                <div class="row"><div class="col">
                    <p>
                        HS79-3-12           
                    </p>
                </div>
                <div class="col">
                    <p>
                        159.20    
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Applied By</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        ABEL DE LA TORRE          
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        08/07/24 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Checked By</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        RUBEN VAZQUEZ LOPEZ       
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        08/07/24 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row text-center">
        <div class="col">
            <p>
                <b>Flat Green Nomex Braid</b>
            </p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Flat Green Nomex</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        SD149-004            
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>No. of Ends</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>   
                        1  
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>No. of Carriers</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        12/24 NE             
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Upper Gear</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>   
                        62  
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Lower Gear</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>   
                        45  
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Tension Springs</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        RED        
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        0.010      
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Braider#</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        24    
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Setup By</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        ABEL DE LA TORRE          
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        08/07/24 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Checked By</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        RUBEN VAZQUEZ LOPEZ       
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 08/07/24 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start">
            <div class="row">
                <div class="col">
                    <p>
                        <b>SD149-004 Nomex P.O. #</b>PE3278        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row text-center">
        <div class="col">
            <p>
                <b>Wire Braid</b>
            </p>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>0.013 Wire</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        00.013RNDC14         
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>No. of Ends</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>   
                        1  
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>No. of Carriers</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        24 NE                
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Upper Gear</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>   
                        68  
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Lower Gear</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>   
                        32  
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Tension Springs</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        BLACK      
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        0.016      
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Braider#</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        30    
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Setup By</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        ABEL DE LA TORRE          
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        08/07/24 
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Checked By</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        RUBEN VAZQUEZ LOPEZ       
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> 
                        08/07/24 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start">
            <div class="row">
                <div class="col">
                    <p>
                        <b>00.013RNDC14         Wire P.O. #</b>PE2991        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row text-center">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>BRAIDING RING MUST BE DOWN</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>Twisted Green Nomex Braid</b>
                    </p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Twisted Green Nomex</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                SD149-004            
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>No. of Ends</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>   
                                3  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>No. of Carriers</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                64 NE                
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>No. of 1 End Marks SD108-001 Kevlar</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>   
                                2  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Upper Gear</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>   
                                72  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Lower Gear</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>   
                                38  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Tension Springs</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                BLACK      
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                .016       
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Braider#</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                38    
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Setup By</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                ABEL DE LA TORRE          
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                08/07/24 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Checked By</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                RUBEN VAZQUEZ LOPEZ       
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                08/07/24 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>Run Kevlar Markers in Opposing Directions</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Final Checks Before Cure</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Length of 10 Pitches</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                27.12      
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>Hose OD</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                1.03  
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b>SD149-004 Nomex &amp; SD108-001 Kevlar P.O. #</b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> 
                                PE3278        PB9271        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>(Record 10 Pitches or Max No. of Pitches That Fit on Heated Length)</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col">
            <p class="mb-0"> 
                1. Cure Setting: Hose: HS79H,Size -12, No of Hoses: (Enter No.) 
            </p>
            <p class="mb-0"> 
                2. Allow 30 minutes minumum for cooling after cure 
            </p>
            <p class="mb-0"> 
                3. Apply primer/toluene mixture at 1:1 ratio 
            </p>
            <p class="mb-0"> 
                4. Allow hose to air dry 
            </p>
            <p class="mb-0"> 
                5. Post Cure Settings: Post Cure 
            </p>
            <p class="mb-0"> 
                6. Remove Mandrel 
            </p>
            <p class="mb-0"> 
                7. Perform Adhesion Test 
            </p>
            <p class="mb-0">  

            </p>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row text-center">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p>
                        <b>Final Checks After Cure</b>
                    </p>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b><u>1 Hose from Each Lot /1/</u></b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <b>Length of 10 Pitches</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>            

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <b>Hose ID</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>       

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <b>Hose OD</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>       

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <b>Heated Length /1/</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>            

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <b>Adhesion Test</b>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p> 
                                        No 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <p>
                                <b>(Record 10 Pitches or Max No. of Pitches That Fit on Heated Length)</b>
                            </p>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <p>
                                <b>/1/ Record the Average Heated Length for the Lot</b>
                            </p>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <p>
                                <b>Recure?:</b>  
                            </p>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <p>
                                <b>Heated Length After Recure:</b>  
                            </p>
                        </div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <p>
                                <b>(Record the Average for Recure Pieces Only)</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>
                                <b><u>All Hoses</u></b>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <b>0.480 Ball Check</b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p> 
                                            No 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <b>Visual</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p> 
                                            No 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p>
                                    <b>Conforms to 79XXX Drawing</b>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>
                                    <b>OD</b>
                                </p>
                            </div>
                            <div class="col">
                                <p>
                                    <b>Checked By</b>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p> 
                                    No 
                                </p>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p>                           

                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>          

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <b>Checked By</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>                           

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <b>Date</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>          

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="border p-2">
                    <p style="display: inline-block;">  
                        PART NUMBER:HMS102-030<br>  
                        P.O.#:PF5162<br>  
                        BATCH#:CH176755<br>  
                        CAL. DATE:05/24/24<br>  
                        EXP DATE:05/24/25<br>  
                        DATE:05/28/24<br>  <br>  
                        SPOOLED P/N<br>
                    </p>
                    <img height="100" width="100" class="align-baseline" src="http://comet/xap/hyd/showstm?IMAGE=RVILLANUEVA.png">
                </div>
            </div>
            <div class="col-4">
                <div class="border p-2">
                    <p style="display: inline-block;">  
                        PART NUMBER:HMS102-030<br>  
                        P.O.#:PF5162<br>  
                        BATCH#:CH176990<br>  
                        CAL. DATE:06/20/24<br>  
                        EXP DATE:06/20/25<br>  
                        DATE:06/21/24<br>  <br>  
                        SPOOLED P/N<br>
                    </p>
                    <img height="100" width="100" class="align-baseline" src="http://comet/xap/hyd/showstm?IMAGE=RVILLANUEVA.png">
                </div>
            </div>
            <div class="col-4">
                <div class="border p-2">
                    <p style="display: inline-block;">  
                        PART NUMBER:HMS102-060<br>  
                        P.O.#:PF5162<br>  
                        BATCH#:CH176934<br>  
                        CAL. DATE:06/13/24<br>  
                        EXP DATE:12/12/24<br>  
                        DATE:06/14/24<br>  <br>  
                        SPOOLED P/N<br>
                    </p>
                    <img height="100" width="100" class="align-baseline" src="http://comet/xap/hyd/showstm?IMAGE=RVILLANUEVA.png">
                </div>
            </div>
        </div>
    </div>
</div>